[user]
    name = EvgeniyRibakov
    email = evgenijrybakov01@gmail.com

[core]
    autocrlf = input
    safecrlf = warn

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate
    last = log -1 HEAD
